@{
    ViewData["Title"] = "Calculator";
}

<h1>Calculator</h1>

<div>
    <form method="post">
        <div class="form-group">
            <label>Fill</label>
            <input class="form-control" placeholder="Fill" />
        </div>

        <div class="form-group">
            <label>Fill</label>
            <input class="form-control" placeholder="Fill" />
        </div>

        <div class="form-group">
            <label>Fill</label>
            <input class="form-control" placeholder="Fill" />
        </div>

        <div class="form-group">
            <label>Fill</label>
            <input class="form-control" placeholder="Fill" />
        </div>

        <div class="form-group">
            <label>Fill</label>
            <input class="form-control" placeholder="Fill" />
        </div>

        <button class="btn btn-primary" type="submit" asp-controller="Home" asp-action="CalculatorResults">Calculate Severity</button>

    </form>
</div>