@{
    ViewData["Title"] = "Calculator Results";
}

<h2>Calculator Results</h2>
<h3>This is the result of the crash information that you entered.</h3>

<a class="btn btn-primary" asp-controller="Home" asp-action="Calculator">Return to Calculator</a>
