@{
    ViewData["Title"] = "Calculator";
}
@model CrashSeverityData

<h1>
Calculator
</h1>

<div>
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="minute">Minute</label>
            <input asp-for="minute" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="day">Day</label>
            <input asp-for="day" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="hour">Hour</label>
            <input asp-for="hour" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="month">Month</label>
            <input asp-for="month" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="motorcycle_involved_True">Motorcycle Involved</label>
            <input asp-for="motorcycle_involved_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="pedestrian_involved_True">Predestrian Involved</label>
            <input asp-for="pedestrian_involved_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="overturn_rollover_True">Overturn Rollover</label>
            <input asp-for="overturn_rollover_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="bicyclist_involved_True">Overturn Rollover</label>
            <input asp-for="bicyclist_involved_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="year">Overturn Rollover</label>
            <input asp-for="year" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="teenage_driver_involved_True">Overturn Rollover</label>
            <input asp-for="teenage_driver_involved_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="day_of_week_Tuesday">Tuesday</label>
            <input asp-for="day_of_week_Tuesday" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="day_of_week_Monday">Monday</label>
            <input asp-for="day_of_week_Monday" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="unrestrained_True">Unrestrained</label>
            <input asp-for="unrestrained_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="day_of_week_Saturday">Saturday</label>
            <input asp-for="day_of_week_Saturday" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="day_of_week_Wednesday">Wednesday</label>
            <input asp-for="day_of_week_Wednesday" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="day_of_week_Thursday">Thursday</label>
            <input asp-for="day_of_week_Thursday" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="night_dark_condition_True">Night Dark Condition</label>
            <input asp-for="night_dark_condition_True" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="roadway_departure_True">Roadway Departure</label>
            <input asp-for="roadway_departure_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="older_driver_involved_True">Older Driver Involved</label>
            <input asp-for="older_driver_involved_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="single_vehicle_True">Single Vehicle</label>
            <input asp-for="single_vehicle_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="day_of_week_Sunday">Sunday</label>
            <input asp-for="day_of_week_Sunday" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="wild_animal_related_True">Wild Animal Related</label>
            <input asp-for="wild_animal_related_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="intersection_related_True">Intersection Related</label>
            <input asp-for="intersection_related_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="dui_True">Dui</label>
            <input asp-for="dui_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="work_zone_related">Work Zone Related</label>
            <input asp-for="work_zone_related" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="improper_restraint_True">Improper Retraint</label>
            <input asp-for="improper_restraint_True" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="city_PROVO">City_Provo</label>
            <input asp-for="city_PROVO" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="distracted_driving_True">Distracted Driving</label>
            <input asp-for="distracted_driving_True" class="form-control" />
        </div>
        <button class="btn btn-primary" type="submit" asp-controller="Home" asp-action="CalculatorResults">Calculate Severity</button>

    </form>
</div>