@{
    ViewData["Title"] = "Home Page";
}

<div class="py-1 my-2">
    <div class="col-lg-9 mx-auto">
        <h1 class="display-3 fw-bold mb-4">Utah Motor Vehicle Collision Report</h1>

        <p class="lead mb-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <h2 class="fw-bold mb-4 pt-2 text-muted">
            Utah has seen an increase in accidents caused by
            drinking and driving.
        </h2>

        <img src="https://images.unsplash.com/photo-1543393716-375f47996a77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"
             style="width:100%"
             class="mb-4"/>

        <p class="lead mb-4">
            Ipsum consequat nisl vel pretium lectus quam id. Laoreet id donec ultrices tincidunt arcu non
            sodales neque sodales. Hendrerit gravida rutrum quisque non tellus orci ac. Ullamcorper sit
            amet risus nullam. Nibh mauris cursus mattis molestie. In ornare quam viverra orci sagittis
            eu volutpat odio facilisis. Eget nulla facilisi etiam dignissim. Faucibus a pellentesque sit
            amet porttitor eget dolor. Nullam non nisi est sit amet facilisis magna. Et egestas quisipsum suspendisse ultrices gravida. Rhoncus dolor purus non enim praesent elementum facilisis.
        </p>

        <p class="lead mb-4">
            Ipsum consequat nisl vel pretium lectus quam id. Laoreet id donec ultrices tincidunt arcu non
            sodales neque sodales. Hendrerit gravida rutrum quisque non tellus orci ac. Ullamcorper sit
            amet risus nullam. Nibh mauris cursus mattis molestie. In ornare quam viverra orci sagittis
            eu volutpat odio facilisis. Eget nulla facilisi etiam dignissim. Faucibus a pellentesque sit
            amet porttitor eget dolor. Nullam non nisi est sit amet facilisis magna. Et egestas quisipsum suspendisse ultrices gravida. Rhoncus dolor purus non enim praesent elementum facilisis.
        </p>
    </div>
</div>
