@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Utah Motor Vehicle Collision</h1>


    <img src="https://gephardtdaily.com/wp-content/uploads/2022/03/11029e95-863e-4c1f-a8a0-3aab633bf7c3.jpeg"
         alt="uvx accident"
         width="100%"
         class="text-center mb-3 mt-3" />
    <img src="https://www.sltrib.com/resizer/ZHO5JDBo_BofbClPBi8qOXccVgI=/fit-in/900x500/cloudfront-us-east-1.images.arcpublishing.com/sltrib/WLOUZSJ42BDDTK2XAQZRBOFMGY.png"
         alt="byu students accident"
         width="100%"
         class="text-center mb-3 mt-3" />
    <p> Over the past few years, Utah has seen an increase in motor vehicle accidents.

    These lead to many reasons such as drunk driving and distracted driving.

    We have set up this website to help lawmakers better understand and regulate these kinds of accident-related issues effectively. </p>


</div>
