@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<a class="btn btn-success" role="button" asp-action="Edit">Add</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a class="btn btn-outline-info btn-sm" role="button" asp-action="Edit">Edit</a></td>
            <td><a class="btn btn-outline-danger btn-sm" role="button" asp-action="Delete">Delete</a></td>
        </tr>
    </tbody>
</table>